html {
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 300%;
    margin: 0;
    padding: 50px 0;
}

#wrapper {
    height: 240vh;
    text-align: center;
    width: 1500px;
    margin: 0 auto;
    background-color: #595241;
}

#randomPage {
    text-align: center;
    color: #B8AE9C;
    text-decoration: none;
    font-size: 200%;
}

#randomPage :visited {
    color: #B8AE9C;
}

#input {
    margin-top: 3em;
    margin-bottom: 2em;
    height: 50px;
    width: 500px;
    font-size: 24px;
}


#results {
    font-size: 40px;
    width: 1300px;
    margin: 5px auto;
}

#results li {
    margin: .5em;
    padding: .5em;
    background-color: #FFFFFF;;
    text-align: left;
    text-decoration: none;
    list-style: none;
    color: #7F796C;
}

#blurb {
    color: #7F796C;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #7F796C;
}