*{
    font-family: 'Prociono', serif;
}

body{
    background-color: #EFEFEF;
    width: 80%;
    margin: 0 auto;
    clear:both;
}


ul{
    background-color: #3F5765;
    height: 63px;
    border-radius: 5px;
    text-align: left;
}

li{
    float:left;
    list-style-type: none;
    color: #BDD4DE;
    padding: 20px 40px 20px 40px;
    font-size: 1.2em;    
    font-weight: bold;
}

li:hover
{
    background-color: #FF530D;
    border-radius: 5px;
}

.blog-posts{
    float:left;
    width: 80%;
}

.article{   
    background-color: #F7FAFF;
    line-height: 1.5;
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 30px;
}


h2, h3{
    color: #3F5765;
}

h3{
    text-align: center;
}

.info{
    font-size: 0.8em;
    font-style: italic;
    color: #77868C;
}

p{
    color: #303638;
}

.sidebar{
    float:right;
    width: 14%;   
    background-color: #F7FAFF;
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 30px;  
}

.sidebar2{
    float:right;
    width: 14%;
    background-color: #F7FAFF;
    padding: 1.5em;
    border-radius: 10px; 
}

.prevart{
    text-align: center;
}

.logo{
    margin-right: 5px;
    transform: translateY(12px);
}

a:link{    
    text-decoration: none;
}

.footer{   
    clear:both;
     margin-top: 50px;
}

.credits{
    text-align: center;
    color: #303638
}