* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    background-size: cover;
    font-family: 'Suez One', serif;
    font-weight: bold;
    font-size: 150%;
    color: #6E6E6E;
    text-shadow: 2px 2px 4px black;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

#wrapper {
    width: 150px;
    margin: 0 auto;
    text-align: center;   
}

#location {
    margin: 15px 0;
    text-align: center;
}

img {
    width: 200px;
    margin: 80px 0px 15px 0px;
    text-shadow: 2px 2px 4px black;
}

.deg{
    color: #0404B4;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
 }

 #temp {
     display: inline;
 }

 #weatherInfo {
     margin-top: 15px;
 }